.movie-card {
  display: flex;
  flex-direction: column;
  background: rgb(213, 213, 213);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease;
  max-width: 280px;
  width: 100%;
  margin: 12px;
}

.movie-card:hover {
  transform: scale(1.15);
}

.movie-poster img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie-info {
  padding-top: 10px;
}

.movie-info h4 {
  margin-bottom: 5px;
}

.movie-info p {
  margin: 4px 0;
  font-size: 14px;
}

.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbs button {
  background-color: #fbfbfb;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.movie-actions button {
  padding: 6px 12px;
  margin-right: 8px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

.movie-actions button:first-child { /* Edit */
  background-color: #7b7d79;
  color: white;
}

.movie-actions button:first-child:hover {
  background-color: #b8b8b8;
}

.movie-actions button:last-child { /* Delete */
  background-color: #e96258;
  color: white;
}

.movie-actions button:last-child:hover {
  background-color: #f39393;
}

/* Responsive */
@media (max-width: 768px) {
  .movie-card {
    max-width: 100%;
  }
}
